<nav aria-label="Page navigation">
    <div class="pagination d-flex justify-content-center">
    {{#if prev}}
    <div class="pagination-prev flex-center">
      <a href="{{page_url prev}}" aria-label="Previous">
        <i class="fas fa-chevron-left"></i>
      </a>
    </div>
        {{/if}}
    <div class="active flex-center">{{page}}</div>
    {{#if next}}
    <div class="pagination-next flex-center">
      <a href="{{page_url next}}" aria-label="Next">
        <i class="fas fa-chevron-right"></i>
      </a>
    </div>
     {{/if}}
  </div>
</nav>