  <div class="getintouch-wrap content-wrap" id="contact">
    <h2 class="top-title">Get in touch</h2>
      <div class="footer-socials">
        {{#if @blog.facebook}}
        <a href="https://facebook.com/{{@site.facebook}}" class="button-url-getintouch" target="_blank" rel="noreferrer noopener">Facebook</a>            
        {{/if}}
        {{#if @blog.twitter}}
        <a href="https://twitter.com/{{@site.twitter}}" class="button-url-getintouch" target="_blank" rel="noreferrer noopener">Twitter</a>
        {{/if}}
      </div>
  </div>

  <div class="copyright-theme content-wrap">
    <p class="footer-url-section">
      Techfluencer is a brand of <a href="https://michaelboumann.com" target="_blank" rel="noreferrer noopener">Michael Boumann</a>
      </p>
  </div>

