{{!< default}} {{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}
<div class="content-wrap container-fluid">
  <h1 class="top-leadin text-center" id="works">Works</h1>
  
  <div class="row customtheme-row content-wrap">
    <h2 class="highlight">Want a custom theme?</h2>
    <p class="subtext">Interested in getting a custom Ghost theme made, or have a existing theme edited?</p>
    <div>
      <a href="#contact" title="Get in touch with SpookThemes" class="button-url-alt">
      <i class="fas fa-play"></i>Get In Touch
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-12 col-md-6 col-lg-3 theme-list-wrap">
      <a href="/works/zen"><img src="{{asset "images/projects/zen/zen-screenshot-big.png"}}" class="top-image" alt="Zen screenshot" title="Zen screenshot" loading="lazy"></a>
      <p class="highlight">Zen</p> 
      <div>
        <div class="badge">Free</div>
        <a href="/works/zen" title="View Zen" class="button-url"><i class="fas fa-play"></i>View Zen</a>
      </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3 theme-list-wrap">
         <a href="/works/kipper"><img src="{{asset "images/projects/kipper/kipper-screenshot-home.png"}}" class="top-image" alt="Kipper screenshot" title="Kipper screenshot" loading="lazy"></a>
        <p class="highlight">Kipper</p> 
        <div>
          <div class="badge">Free</div>
          <a href="/works/kipper" title="View Kipper" class="button-url"><i class="fas fa-play"></i>View Kipper</a>
        </div>
    </div>
      <div class="col-12 col-sm-12 col-md-6 col-lg-3 theme-list-wrap">
         <a href="/works/larua"><img src="{{asset "images/projects/larua/larua.png"}}" class="top-image" alt="Larua screenshot" title="Larua screenshot" loading="lazy"></a>
        <p class="highlight">Larua</p> 
        <div>
          <div class="badge">Free</div>  
          <a href="/works/larua" title="View Larua" class="button-url"><i class="fas fa-play"></i>View Larua</a>
        </div>
    </div>

    <div class="col-12 col-sm-12 col-md-6 col-lg-3 theme-list-wrap">
         <a href="/works/novavi"><img src="{{asset "images/projects/novavi/novavi.png"}}" class="top-image" alt="Novavi screenshot" title="Novavi screenshot" loading="lazy"></a>
        <p class="highlight">Novavi</p> 
        <div>
          <div class="badge">Free</div>
          <a href="/works/novavi" title="View Larua" class="button-url"><i class="fas fa-play"></i>View Novavi</a>
          </div>
    </div>
  </div>
</div>