 {{!< default}} 
<div class="row row-alt content-wrap"><div class="container-fluid row"><div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 theme-content"><h1 class="top-post-title">Novavi</h1><p class="subtext"></p><p>Novavi is a simplistic blog theme for Ghost based on Pure-CSS.</p><p></p><h2>Features</h2><ul class="list-group list-group-flush"><li class="list-group-item"><i class="fas fa-circle"></i>Set your own logo</li><li class="list-group-item"><i class="fas fa-circle"></i>Set your Accent Color</li><li class="list-group-item"><i class="fas fa-circle"></i>Translation-support</li><li class="list-group-item"><i class="fas fa-circle"></i>Highlighted posts</li><li class="list-group-item"><i class="fas fa-circle"></i>Related posts</li></ul><div class="source-item"><a href="https://github.com/spookthemes/novavi-ghost-theme/releases/latest" title="Download Novavi" class="button-url" target="_blank" rel="noreferrer noopener"><i class="fas fa-play"></i>Download Novavi</a></div></div><div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6 img-fluid"><div id="carouselIndicators" class="carousel slide" data-ride="carousel"><div class="carousel-inner"><div class="carousel-item active"><img class="d-block w-100 theme-image-themepage" data-bs-toggle="modal" data-bs-target="#novaviModal" src="{{asset "images/projects/novavi/novavi-big.png"}}" title="Novavi Screenshot" alt="Novavi Screenshot"></div></div></div></div></div></div>
 
 <!-- Modal -->
 <div class="modal fade" id="novaviModal" tabindex="-1" role="dialog" aria-labelledby="novaviModalLabel" aria-hidden="true">
   <div class="modal-dialog modal-lg" role="document">
     <div class="modal-content">
       <div class="modal-header">
         <h5 class="modal-title highlight" id="novaviModalLabel">Novavi</h5>
       </div>
       <div class="modal-body">
         <img src="{{asset "images/projects/novavi/novavi-big.png"}}" alt="Novavi Screenshot" class="img-fluid">
       </div>
     </div>
   </div>
 </div>