{{!< default}} 
<div class="aboutme-wrap content-wrap">
  <div class="row flex-center">
    <h2 class="top-leadin text-center">About SpookThemes</h2>
  <div class="col-12 col-sm-12 col-md-9">
    <p class="subtext">SpookThemes has been creating Ghost themes since 2013. Ever since the first theme we have been continuously improving our work to make better and better Ghost themes.
    </p>
  </div>
  <div class="col-12 col-sm-12 col-md-3">
    <img class="pure-img avatar-me" src="{{asset "images/logo.png"}}" title="SpookThemes" alt="SpookThemes" />
  </div>
  </div>
</div>

  <hr class="fancy-hr" />

<div class="container-fluid philosphy-wrap content-wrap">
  <h2 class="highlight">Philosophy</h2>
  <div>
    <div class="col-sm-12 why-items">
      <div class="row">
        <div class="col-sm-2 col-md-2 flex-center">
          <p>
            <i class="fa fa-mobile-alt fa-4x d-block responsive-div top-row-icons"></i>
          </p>
        </div>
        <div class="col-sm-10 col-md-10">
          <p class="subtext">
            Desktop, mobile, 4k or 720p, all themes fit and adapt to the devices
            they are used on.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 why-items">
      <div class="row">
        <div class="col-sm-2 col-md-2 flex-center">
          <p>
            <i class="fab fa-github fa-4x d-block responsive-div top-row-icons"></i>
          </p>
        </div>
        <div class="col-sm-10 col-md-10">
          <p class="subtext">
            SpookThemes creates themes that are open-source and 'Premium' themes which aren't. All <b>open-source</b> themes are available through
            <a
              href="https://github.com/SpookThemes"
              target="_blank"
              rel="noreferrer noopener"
              >GitHub</a> <i class="fas fa-external-link-alt"></i>.
          </p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 why-items">
      <div class="row">
        <div class="col-sm-2 col-md-2 flex-center">
          <p>
            <i class="far fa-user fa-4x d-block responsive-div top-row-icons"></i>
          </p>
        </div>
        <div class="col-sm-10 col-md-10">
          <p class="subtext">
            All themes implement the standard, platform-based, features. Which include navigation, website- and author-socials and more recently accentcolors.
            These inclusions make sure you can adapt a theme to your liking.
          </p>
        </div>
      </div>
    </div>
  </div>
  </div>