{{#get "tags" limit="4" include="count.posts" order="count.posts desc"}}
          <div class="tagslist text-center">
            {{#foreach tags}}
                <a href="{{@site.url}}/tag/{{slug}}" class="hvr-grow">{{name}} ({{ count.posts }})</a>
              {{/foreach}}
        </div>
{{/get}}